body{
  background-color: #A773B4;
}

.header img{
  margin-top: 90px;
  margin-left: -240px;
}

.card{
  margin-top: 50px;
  width: 92%;
  background-color: white;
  margin-left: 60px;
  height: 900px;
}
