
.header .nav img{
  margin-left: -240px;
}

.card{
  margin-top: 50px;
  width: 92%;
  background-color: white;
  margin-left: 60px;
  /* height: 900px; */
}

button{
  color: rgb(0, 0, 0);
  background-color: yellow;
  height: 30px;
  width: 100px;
  border-radius: 10px;                
}

.nav{
  display: flex;
  justify-content: space-around;
}