* {
    font-family: Arial;
}

body {
    margin: 0;
}

/* Começo do cabeçalho */

.container {
    width: 90%;
    margin: auto;
    display: flex;
    height: 125px;

}

.container .logo img {
    width: 316px;
    height: 215px;
    display: flex;
    margin-left: -105px;
    margin-top: 20px;
    align-items: center
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header ul {
    width: 600px;
}

.header ul #home {
    font-weight: 700;
    color: #320D57;
    text-align: center;
}


.header ul #empresa {
    color: #320D57;

}

.header ul #login {
    color: #320D57;
}

.header ul button {
    /* color: white; */
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #7D1E7C;

}

.header ul button #button {
    color: white;
}

ul {
    color: #320D57;
    padding: 20px;
    height: 420px;
}




.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navBar {
    width: 350px;
    height: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #320D57;
}

.navL {
    color: #320D57;
    text-decoration: none;
} 

/* Fim do cabeçalho */

/* Começo do Banner */



.banner {
    height: 500px;
    display: flex;
    background-color: white;
}

.banner .container p span {
    font-weight: 1000;
}




.banner .container {
    font-size: 36px;
    justify-content: start;
}

.banner .container p {
    width: 30%;
}

 .roxo_claro{
    color:#8B49CD;
    text-decoration: none;
    font-weight: 50;
} 

/* Fim do banner */

/* Começo do Social */

.social {
    background-color: #7D1E7C26;
    /* display: flex; */
    height: 400px;
    width: 100%;
    margin-bottom: 0;
    /* justify-content: center; */
}


.card img {
    /* width: 400px;
    height: 350px;
    margin-right: 15px; */
    height: 380px;
    margin-right: 15px;
    margin-top: 400px;
}

.social .container .card {
    display: flex;
    width: 100%;
    height: 5px;
    align-items: center;
    justify-content: space-evenly;
}

 
 .social .card div {
 
    color: #320D57;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: center; */
    height: 5px;
    width: 120px;
    /* word-wrap: break-word; */
    /* text-indent: 50%; */
    font-weight: 1000;
    /* margin-left: 80px; */
    margin-bottom: 30px;
    margin-top: 280px;
    /* text-align: center; */
    


 }

 .card ul #lista2 div{
    display: flex;
    justify-content: flex-start;
 }


 .card ul li{
    /* text-align: right; */
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;   
    margin-left: 80px;
    /* height: 13px; */
    width: 185px;
    margin-bottom: 13px;

 } 

 .card ul #lista1 {
    height: 13px;
    width: 180px;
    margin-left: 80px;
    color: black
   
 }

.card ul #lista2 {
    height: 13px;
    width: 180px;
    margin-left: 80px;
    margin-bottom: 18px;
    padding: 5px;
}

/* Final do Social */